**********************************************************************************************
*                                                                                            *
* DRILL TAPE SUMMARY REPORT                                                                  *
*                                                                                            *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-301-0 (SCHEDA SERVIZI 2_02_2024\22-301-0.MAX  *
* Fri Feb 02 15:46:10 2024                                                                   *
*                                                                                            *
**********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       478      200      100                                                                                 
T2       315      269      200      100                                                                                 
T3       433      92       200      100                                                                                 
T4       472      2        200      100                                                                                 
T5       551      14       200      100                                                                                 
T6       630      3        200      100                                                                                 
T7       669      3        200      100                                                                                 
T8       866      2        200      100                                                                                 
T9       1181     6        200      100                                                                                 
T10      1378     8        200      100                                                                                 
